.back-to-top {
  position: fixed;
  bottom: 35px;
  right: 35px;
  background-color: #1e3a8a;
  color: white;
  border: none;
  padding: 12px 15px;
  border-radius: 50%;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 2000;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: 0.3s ease;
}

.back-to-top:hover {
  transform: scale(1.15);
  background-color: #365ebf;
}
